<section class="content">
  <div class="content-details">
    <h2>{{content.title}}</h2>
    <p>By: {{content.user.username}}</p>
    <p>{{content.text}}</p>
    <p>Posted on {{format_date content.createdAt}}</p>
    <div>
      <h3>Leave a comment</h3>
    <form action="/comment" method="POST" id="{{content.id}}" class="comment-form">
      <textarea id="content-id" hidden>{{content.id}}</textarea>
      <textarea class="comment"  id="comment-text" placeholder="type your comment here."></textarea>
      <br>
      <button id="send-comment">Send</button>
    </form>
    </div>
    <div>
    {{#each content.comments}}
    <div>
      <h4>{{this.user.username}}</h4>
      <p>{{this.text}}</p>
      <p>Posted on {{format_date this.createdAt}}</p>
    </div>
    {{/each}}
    </div>
    
  </div>
  
</section>
<script src="/js/comment.js"></script>